version: 2.1
jobs:
  run_tests: 
    docker:       
      - image: circleci/openjdk:stretch     
    steps:       
      - checkout
      - run: mkdir -p config
      - run: echo $CONFIG_QA | base64 --decode > config/qa.properties
      - run: mvn test   

workflows:
  maven_test:
    jobs:
      - run_tests
