version: 2.1

orbs:
  maven: circleci/maven@0.0.12
jobs:
  run_tests:
    steps:
      - run: 
        name: "Setup config"
        command: echo $CONFIG_QA | base64 --decode > config/qa.properties
      - run: 
        name: "Run tests"
        command: maven/test # checkout, build, test, and upload test results
workflows:
  maven_test:
    jobs:
      - run_tests
